.login{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 200px;
    background-image: url(../../../public/image/background.png);
}


.container{
    width: 400px;
    height: 700px;
    background-color: #db7d00b3;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #faa600;
    
}

.login-text{
    font-size: 1.6em;
    text-transform: uppercase;
    color: #000;     
}

input{
    height: 40px;
    width: 80%;
    font-size: 0.8em;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

input.email{
    background-image: url(../../../public/image/icone-usuario.png);
}

input.password{
    background-image: url(../../../public/image/icone-cadeado.png);
}

input.submit{
    color: #ffffff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 45px;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;

    background: -webkit-linear-gradient(to right, #faa600, #f68a00, #faa600);
    background: -moz-linear-gradient(to right, #faa600, #f68a00, #faa600);
    background: -o-linear-gradient(to right, #faa600, #f68a00, #faa600);  
    background: linear-gradient(to right, #faa600, #f68a00, #faa600);
}
input.submit:hover{
    background: #f79300;
}

label{
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
}

.login-forgot{
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: 150px;
    font-weight: bold;
}

.login-others{
    margin-top: 50px;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    
}
.login-signup{
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.login-signup a{
    margin: 10px;
    border: 1px solid red;
}

.login-link{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
}

