.movieRow{
    margin-bottom: 30px; 
}

.movieRow h2{
    margin: 0px 0px 5px 30px;
}

.movieRow--listarea{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 30px;
    
}

.movieRow--list{
    transition: all ease 0.4s;
    max-height: 330px;
}

.movieRow--item {
    display: inline-block;
    width: 230px;
    height: 330px;  
}

.movieRow--item img{
    width: 220px;
    height: 330px;
    opacity: 0.7;
    transition: all ease 0.2s;
    padding-right: 10px;
}

.movieRow--item img:hover {
    opacity: 1;
}

.movieRow--item:hover .movieRow--info{
    opacity: 1;
    background: linear-gradient(to top, #000 60%, transparent 90%);
}

.movieRow--left,
.movieRow--right{
    position: absolute;
    width: 40px;
    height: 330px;
    background-color: rgb(0, 0, 0, 0.8); 
    color: #fed305;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow--left{
    left: 0;
}

.movieRow--right{
    right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right{
    opacity: 1;
}

.movieRow--info{
    justify-content: center;
    opacity: 0;
    width: 220px;
    height: 200px;
    display: inline-block;
    top: -204px;
    position: relative;
    font-size: 16px;
}

.movierow--buttons,
.movieRow--data,
.movieRow--genres{
    align-items: center;
    display: flex;
    display: inline-block;
    margin:  10px 0 0 10px;
}

.movieRow--buttons{
    margin-top: 20px;
    margin-left: 15px;
}

.movieRow--title{
    font-size: 16px;
    font-weight: bold;
    padding-top: 35px;
}

.movieRow--point{
    color: #61f386;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 0;
}

.movieRow--year{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 0;
    padding-bottom: 2px;
}

.movieRow--genres{
    color: #9c9c9c;
    font-weight: bold;
    font-size: 12px;
}

.movieRow--buttons1,
.movieRow--buttons2,
.movieRow--buttons3{
    font-size: 30px;
    font-weight: bold;
    padding: 3px 9px;
    background-color: #fed305;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.movieRow--buttons1:hover,
.movieRow--buttons2:hover,
.movieRow--buttons3:hover{
    color: #de0f3f;
}

@media (max-width:760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
}
