.footer{
    background-color: rgb(17, 11, 11);
    height: 300px;
    color: #fff;

}
.footer-Flex{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.footer--Contact,
.footer--Map,
.footer--Information{
    
    
}
.facebook,
.instagram,
.whatsapp,
.pinterest,
.twitter,
.linkedin{
    
}


.footer--Footer{
    margin: 50px 0px;
    text-align: center;
    padding-bottom: 20px;
}