.featured{
    width: 100%;
    max-width: 1100px;
    max-height: 557px;
    background-size: cover;   
    margin-left: auto;
    margin-right: auto;    
}

.featured--vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--hotizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;   
    padding-top: 20px;
}
.featured--title{
    font-size: 20px;
    margin-top: 10px;
}
.featured--name{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;

}

.featured--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featured--points, 
.featured--year, 
.featured--seasons {
    display: inline-block;
    margin-right: 15px;
}

.featured--points{
    color: #46d369;    
}

.featured--description{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 50%;
}

.featured--buttons{
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 10px;
}

.featured--buttons1,
.featured--buttons2,
.featured--buttons3{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #fed305;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}
.featured--buttons1:hover,
.featured--buttons2:hover,
.featured--buttons3:hover{
    opacity: 0.7;
    color: #de0f3f;
}

.featured--genres{
    margin-top: 10px;
    font-size: 18px;
    color: #999;
}

@media (max-width:760px) {
    .featured{
        height: 85vh;
    }
    .featured--name{
        font-size: 40px;
    }
    .featured--info{
        font-size: 16px;
    }
    .featured--description{
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .featured--watchbutton,
    .featured--mylistbutton{
        font-size: 16px;
    }
    .featured--genres{
        font-size: 14px;
    }
}
