@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body{
    background: linear-gradient(#de0f3f, #db7d00);
    color: #fff;
    margin: 0;
    font-family: 'Noticia Text', serif;
}

.link{
    color: #fff;
}
.loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 50%;
}